:root {
  --red: #FF0000;
  --blue: #0000FF;
  --orange: #FF8C00;
  --green: #006400;
  --aqua: 	#00BFFF;
  --black: #000000;
  --white: #ffffff;
  --gray: #696969;
  --purple: #800080;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.plant{
  background-color: var(--green);
}
.gray{
  background-color: var(--gray);
}
.fire{
  background-color: var(--orange);
}
.water{
  background-color: var(--aqua);
}
.cardPokemon{
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s;
}
.cardPokemon:hover{
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 1s;
}